streamlit
pandas
openpyxl
thefuzz
python-Levenshtein
python-dateutil
numpy
scikit-learn
joblib
fuzzywuzzy
plotly
pytz
pydeck
streamlit-aggrid
streamlit-lottie
requests
earthengine-api
pymupdf
pytesseract
pdf2image
Pillow
sentence-transformers
